@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crying</h1>
    <p>SAD <a href="https://docs.microsoft.com/aspnet/core">mimimimimi</a>.</p>
</div>

<div class="text-center">
    <h1>Morrendo</h1>
    <h2>Morrendo</h2>
    <h3>Morrendo</h3>
    <h4>Morrendo</h4>
    <h5>Morrendo</h5>
    <h6>Morrendo</h6>
    <p>Morrendo</p>
</div>

<video autoplay muted loop style="width:100%; height:auto; position:static">
    <source src="https://tw-group.com/video/TW_WEB_25_01_2022.mp4" type="video/mp4">
</video>



